@media (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    display: grid;
    margin-top: 1.25rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    display: grid;
    margin-top: 1.25rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .sectionContainer {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .sectionContainer {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .sectionGridContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
    display: grid;
  }
}
@media (max-width: 1024px) {
  .sectionGridContainer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.sectionTitle {
  font-weight: bolder;
  font-size: 4.5rem;
  line-height: 1;
}

@media (min-width: 1024px) {
  .sectionImage {
    border-color: #777;
    border-width: 0.125rem;
    border-radius: 0.375rem;
  }
}
@media (max-width: 1024px) {
  .sectionImage {
    border-color: #777;
    transform: scale(0.75);
    width: 100%;
    border-width: 0.125rem;
    border-radius: 0.375rem;
  }
}

.linearProgress {
  color: darkred;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
