.socialCardContainer {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .socialCardGridContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    display: grid;
  }
}

@media (max-width: 1024px) {
  .socialCardGridContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    display: grid;
  }
}
