.footerText {
  font-weight: bold;
  color: #666;
}

.footerDownContainer {
  width: 100%;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerUpContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gridElement {
  text-align: justify;
}

.gridInnerElement {
  border: 1px solid #777;
  background-color: #444;
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 20rem;
}
@media (max-width: 800px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.gridTextElement {
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
