.card {
  border-radius: 0.5rem;
  background-color: #333333;
  transition: transform 0.5s, opacity 1s;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px) scale(1.05);
}
.card:active {
  transform: scale(0.95);
  opacity: 0.7;
}

.cardTitle {
  text-align: center;
  border: 2px solid #555;
  border-radius: 0.5rem;
  font-size: larger;
}

.cardTitleText {
  font-weight: bolder;
}
.cardFooterImage {
}

.cardSmallImage {
}
